body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
div {
    margin: 1em auto;
}
/* Search */
form {
    display: inline;
}
input#image {
    width: 5em;
    font-size: 16pt;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0.2em;
    text-align: center;
    transition: width 0.4s ease-in-out;
}
input#image:focus {
    width: 6em;
    outline: none;
    color: dodgerblue;
    border-color: dodgerblue;
}
input#image:focus {
    width: 6em;
    outline: none;
    color: dodgerblue;
    border-color: dodgerblue;
}
input#image:focus::placeholder {
    color: dodgerblue;
}
input#limit{
    width: 2em;
    font-size: 16pt;
    border: none;
    border-bottom: 1px solid #CCC;
    text-align: center;
    transition: width 0.4s ease-in-out;
}
input#limit:focus {
    outline: none;
    color: dodgerblue;
    border-color: dodgerblue;
}
/* Images */
#result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (min-width: 48rem) {
    #result {
        max-width: 30%;
    }
}
.image {
    flex-grow: 1;
    margin: 0;
    transition: all 0.4s ease-in-out;
}
.image:hover {
    transform: scale(1.01);
}
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}