<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div id="app">
        <!-- Title -->
        <div id="title">
            <h1>Clarifai-Powered Image Search</h1>
        </div>
        <!-- Search Box -->
        <div id="search">
            <div id="search-container">
                <form id="search-form" @submit.prevent="search">
                    <input id="image" type="text" @keyup.enter="submit" v-model="keyword" name="search" placeholder="Keyword" autocomplete="off"
                    />
                </form>
                <span>✖️<input id="limit" type="text" v-model="limit" name="limit" autocomplete="off" /> Pictures</span>
            </div>
        </div>
        <!-- Images -->
        <div id="result">
            <div v-if="images.length">
                <div class="image" v-for="(image, index) in images" :key="image.url">
                    <a :href="image.url" target="_blank">
                        <img :src="image.url" :alt="index+1" :title="image.score">
                    </a>
                </div>
            </div>
            <div v-else>
                <h2 v-text="feedback"></h2>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/unfetch/dist/unfetch.umd.js"></script>
    <script src="/script/app.js"></script>
</body>

</html>